.about_us{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.snow{
    width: 60%;
    padding: 0 20%;
}
.p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #F8F9F6;
    margin: 0 20%;
    padding: 10px;
}
body{
    background-color:#FFD166 ;
}