.about_us{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
#snow{
    width: 260px;
    display: inline-block;
}
#p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #F8F9F6;
    padding: 10px;
    width: 350px;
    display: inline-block;
    font-size: 24px;
}
.main{
    border: 5px solid black;
    border-radius: 5%;
}
.div{
margin: 0 23%;
}
.body{
    background-color:#FFD166 ;
}
header, footer {
    text-align: center;
    padding: 20px 0;
    background-color: #e0e0e0;
    margin-bottom: 20px;
    margin-top: 20px;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
}
 header h1 {
    margin: 0;
    font-size: 1.2em;
    color: #555;
}